In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# Number of jars sold
sales_amount = np.random.randint(20, size=(5, 3))
sales_amount

array([[ 1,  2, 14],
       [ 2,  4,  0],
       [14,  0, 16],
       [15,  2,  0],
       [ 9,  9,  5]])

In [3]:
# Create weekly_sales DataFrame
weekly_sales = pd.DataFrame(sales_amount,
                            index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
                           columns=["Almond butter", "Peanut  butter", "Cashew butter"])
weekly_sales

           Almond butter  Peanut  butter  Cashew butter
Monday                 1               2             14
Tuesday                2               4              0
Wednesday             14               0             16
Thursday              15               2              0
Friday                 9               9              5

In [4]:
# Create the prices array
prices = np.array([10, 8, 12])

In [5]:
# Create butter_prices DataFrama
butter_prices = pd.DataFrame(prices.reshape(1, 3), index=["Price"],
                            columns=["Almond butter", "Peanut  butter", "Cashew butter"])
butter_prices

       Almond butter  Peanut  butter  Cashew butter
Price             10               8             12

In [6]:
# Shape aren't aligned, let's transpose
total_sales = prices.dot(sales_amount.T)
total_sales

array([194,  52, 332, 166, 222])

In [7]:
# Create daily_sales
daily_sales = butter_prices.dot(weekly_sales.T)
daily_sales

       Monday  Tuesday  Wednesday  Thursday  Friday
Price     194       52        332       166     222

In [8]:
weekly_sales["Total (â‚¬)"] = daily_sales.T
weekly_sales

           Almond butter  Peanut  butter  Cashew butter  Total (â‚¬)
Monday                 1               2             14        194
Tuesday                2               4              0         52
Wednesday             14               0             16        332
Thursday              15               2              0        166
Friday                 9               9              5        222